Package: dev.extbh.benefitpay++
Name: BenefitPay++
Version: 0.0.2
Architecture: iphoneos-arm
Description: Just adding Copying for BenefitPay app
Maintainer: ExTBH <natheer@extbh.dev>
Author: ExTBH <natheer@extbh.dev>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), ws.hbang.common (>= 1.17)
